.slideShow{
    height: 100%;
    width: 100%;

}

.slide {
    width: 100% !important;
    height: 100%;
    margin: 0;

}
.carousel-item {
    width: 100%;
    height: 100%;

}
.slideShow:first-child{
    display:none !important;
}
.carousel-indicators{
    display:none !important;
}
.slideShow button {
    color: black
}
.slideShow span {
    filter: invert(100%);


}

