.body {
    width: 100%;
    height: 100%;

    scroll-snap-type: y mandatory;
}
html {

    scroll-snap-type: y mandatory;
}

@media screen and (max-width: 760px){
    html {
        scroll-snap-type: proximity;
    }
}