.body {
  width: 100%;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-behavior: smooth;
  height: 100vh;
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal;
  overflow-y: scroll;
  overflow-x: hidden;

}

@media screen and (max-width: 760px) {
    .body {
        height: calc(var(--vh) * 100);
    }
}
