.center {
  width: 180px;
  height: 60px;
  position: relative;
}

.linkButton,.gone {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 4px solid #eb757f;
  outline: none;
  transition: 1s ease-in-out;
}


.linkButton svg, .gone svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke-width: 2px;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.linkButton:hover ,.gone:hover {
  transition: 1s ease-in-out;
  background: #4495e5;
}

.linkButton:hover svg, .gone:hover svg {
  stroke-dashoffset: -480;
}

.linkButton span,
.gone span {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}
.linkButton a,
.gone a{
    text-decoration: none;
}
.center p {
    
    width: 100%;
    margin-top: 20%;
    padding: 0;
    font-size: 2vw;
    text-align: center;

}

.noMobile {
  display: none;
}
.yesMobile{
  display: block;
}

@media only screen and (min-width: 660px) and (max-width: 830px){
  .yesMobile {
    display: none;
  }
  .noMobile {
    display: block;
  }
    .center{
        position: absolute;
        top: 56%;
    }
   
}
@media only screen and (max-width: 830px){
    .gone {
        display:none;
    }
}