.desktopDescription {

    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.projectHeader {
    width: 100%;
    height: 15%;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: row;
    
}
.projectHeader h1{
    font-size: 2vw;
    margin: 0;
}
.projectLinks {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.alternateAbout{
    display: none;
}
.projectName {
    width: 80%;
    height: 100%;
    border-right: solid black 1px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    padding-left: .5rem;
    box-sizing: border-box;


}
.projectAbout {
    width: 100%;
    height: 65%;
    border-bottom: black solid 1px;
    
}
.projectAbout p{
    font-family: 'Poppins';
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
    max-height: 100%;
    overflow-y: scroll;
}
.projectLinks a{
    text-decoration: none;
    color: grey;
    font-size: 1.8vw;
}
.projectLinks a:hover {
    color: black;
}
.techUsed{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media only screen and (max-width: 1100px){
  

}

    @media only screen and (max-width: 830px){

        .projectHeader h1 {
            font-size: 6vw;
        }
        .primaryAbout {
            display: none;
        }
        .alternateAbout{
            display: block;
           
        }
        .techUsed{
            height: 35%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 12px;
            background-color: #eb747f;
        }
        .desktopDescription{
            background-color: transparent;
            box-shadow: none;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

    
    
        }
        .projectAbout {
            height: 30%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
           
    
        }
        .projectAbout p{
            margin: 0;
        }
        .projectName {
            justify-content: left;
            text-align: center;
            border: none;
            padding: 0;
        }
        .projectHeader{
            border: none;
    
        }
        .projectLinks{
            justify-content: right;
            
        }
        .projectLinks a {
            font-size: 5vw;
            color: black;
        }
    }

