.main {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
}
.layout{
    height: 100%;
    width: 100%;

}

@media only screen and (orientation:landscape) {
   .rotate {
       display: block;
   }
   main {
       display: none;
   }
  }
   
  /* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
  @media only screen and (orientation:portrait) {
    .rotate {
        display: none;
    }
  }