.main {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
}
.layout{
    height: 100%;
    width: 100%;

}
.rotate {
    display: none;
}

@media only screen and (orientation:landscape) and (max-height: 400px ) {
   .rotate {
       display: block;
   }
   main {
       display: none;
   }
  }
   
  /* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
  