.resume {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}
.cvLink{
  color: white;
  font-size: 20px;
  font-family: 'Poppins';
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
.cvLink:hover {
  color: white;
  text-decoration: underline;
}
.marker {
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 35%;
}
.resume img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 14px;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.resume .cv {
  height: 90%;
  width: 95%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 760px){
    .marker {
        bottom: 10%;
    }
    .resume img:hover{
      transform: none;
    }
}