.navBar {

  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 3rem; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.navBar ul {
  width: 100%;
  height: 100%;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.1vw;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
box-sizing: border-box;
margin: 0;
}
.navBar li {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;

    
}

.navBar li  a {
    color: white !important;
}

.navBar li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.burger {
    display: none;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 100;

}
.burgerButton {
    user-select: none;
    margin-right: 20px;
    z-index: 100;

}

.burgerButton div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    z-index: 100;
}


@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }
    .navBar ul{
       position: absolute;
       top: 100%;
       right: 0;
       height: 45vh;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       width: 37%;
       transform: translateX(100%);
       transition: transform .5s ease forwards .5s;
    }
    .navBar li{
        width: 100%;


        height: 3rem;
        background-color: rgb(0 0 0 / 73%);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        opacity: 0;
        font-size: 2.5vw;
        font-weight: 500;
    }

    .link1 {
       animation: navLinkFade .5s ease forwards .5s;
    }
    .link1Out{
       animation: navLinkFadeOut .5s ease forwards .5s;

    }
    .link2 {
        animation: navLinkFade .5s ease forwards .6s;
    }
    .link2Out{
       animation: navLinkFadeOut .5s ease forwards .5s;

    }
    .link3{
        animation: navLinkFade .5s ease forwards .7s;

    }
    .link3Out{
       animation: navLinkFadeOut .5s ease forwards .5s;

    }
    .link4 {
        animation: navLinkFade .5s ease forwards .8s;

    }
    .link4Out{
       animation: navLinkFadeOut .5s ease ease-out .5s;

    }
    .link5{
        animation: navLinkFade .5s ease forwards .9s;

    }
    .link5Out{
       animation: navLinkFadeOut .5s ease forwards .5s;

    }
    .link6{
        animation: navLinkFade .5s ease forwards 1s;

    }
    .link6Out{
       animation: navLinkFadeOut .5s ease forwards .5s;

    }

    .burger{

        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
    .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .line2{
        opacity: 0;
    }
    .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(100px);
    }
}
