.currentProject {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
;
}
.marker {
    position: absolute;
    height: 5px;
    width: 5px;
    bottom: 35%;
}

@media screen and (max-width: 760px){
   .currentProject {
       flex-direction: column;

   }
   .marker {
       bottom: 20%;
   }
   
}