.bodyFooter{
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: center;
}
.socialIcons{
    width: 30%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.socialIcons a {
    font-size: 2rem !important;

    height: 100%;
    width: 30%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.socialIcons a:hover{
    color: black;
}
@media screen and (max-width:760px){
    .bodyFooter{
        display: none;
    }
}