.bodyPart {
    width: 100%;
    height: 100vh;
   scroll-snap-align: start;
}
.bufferSpace {
    width: 100%;
    height: 3rem;
}
.bodyPartContent{
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
}

  @media only screen and (max-width: 760px){
    .bodyPart {
        height: calc(var(--vh, 1vh) * 100- 6rem);
    }
    .bodyPartContent {
        height: calc(var(--vh, 1vh) * 100 - 3rem);
    }
  }