.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.backgroundPhoto {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

}
.backgroundPhoto img {
    max-height: 100%;
    max-width: 100%;
    transform: scale(1.1,1.3);
}
.marker {
    position: absolute;
    bottom: 80%;
    height: 5px;
    width: 5px;
}
@media screen and (max-width: 760px){
    .marker {
        bottom: 80%;
    }
}