.skillsParticles {
    width: 50%;
    height: 100%;
    position: relative;
}
.skillsParticles canvas{
    position: absolute
}
#tsparticles{
    position: absolute
}
.skillsParticles img{
    max-height: 100%;
}
@media only screen and (max-width: 768px){
    .skillsParticles{
        display:none;
    }
}