.skillsIcons{
    height: 100%;
    width: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

}
.skillsIcons div{
    display: flex;
    justify-content: center;
    opacity: 0;
    width: 14rem;
    max-width: 100%;
    height: 5rem; 
    max-height:100%;
    position:relative;
}

.icon1 {
    animation: iconFade 1s ease forwards .5s;

}
.icon2 {
    animation: iconFade 1s ease forwards .7s;

}
.icon3 {
    animation: iconFade 1s ease forwards .9s;

}
.icon4 {
    animation: iconFade 1s ease forwards 1.1s;

}
.icon5 {
    animation: iconFade 1s ease forwards 1.3s;

}
.icon6{
    animation: iconFade 1s ease forwards 1.5s;

}
.icon7{
    animation: iconFade 1s ease forwards 1.7s;

}
.icon8{
    animation: iconFade 1s ease forwards 1.8s;

}
.skillsIcons img{
    max-height: 100%;
    max-width: 100%;
}

.tooltiptext {

    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
  }
   .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .icon8:hover > .tooltiptext {
    visibility: visible;
  }
  .icon7:hover > .tooltiptext {
    visibility: visible;
  }
  .icon6:hover > .tooltiptext {
    visibility: visible;
  }
  .icon5:hover > .tooltiptext {
    visibility: visible;
  }
  .icon4:hover > .tooltiptext {
    visibility: visible;
  }
  .icon3:hover > .tooltiptext {
    visibility: visible;
  }
  .icon2:hover > .tooltiptext {
    visibility: visible;
  }
  .icon1:hover > .tooltiptext {
    visibility: visible;
  }


@media only screen and (max-width: 768px){
    .skillsIcons{
        
    width: 98%;
    height: 30%;
       display: flex;

    }
    .skillsIcons div{
        width: 5rem;
        max-width: 8rem;
        height: 2.5rem; 
        max-height:20%;
    }
}

@keyframes iconFade{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}