.techStack{
    width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.techStack img{
    max-width: 100%;
    max-height: 98%;
}
  
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

  }
  .tooltiptext::after{
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .techStack:hover .tooltiptext {
    visibility: visible;
  }